
footer {
  margin: 3rem 0 0;
  background: #D0C6A9;
  position:absolute;
  left:0;
}

#profile{
  padding: 15px 10px;
  .portrait-title h3 {
    margin: 0 0 5px;
    color: #666;
  }
  .portrait-title h2 {
    margin: 10px 0 5px;
  }
  @-webkit-keyframes slide-from-right {
    0% {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slide-from-right {
    0% {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes slide-from-left {
    0% {
      -webkit-transform: translateX(-150%);
              transform: translateX(-150%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slide-from-left {
    0% {
      -webkit-transform: translateX(-150%);
              transform: translateX(-150%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .bio-text {
  -webkit-animation: slide-from-right 0.8s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: slide-from-right 0.8s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  }
  .portrait {
    -webkit-animation: slide-from-left 0.8s cubic-bezier(0.87, 0, 0.13, 1) forwards;
            animation: slide-from-left 0.8s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }
  .network-icon {
    opacity: 0;
    -webkit-animation: fade-in 0.6s forwards;
            animation: fade-in 0.6s forwards;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .avatar {
    width: 250px;
    height: 250px;
  }
  .avatar-wrapper {
    width: auto; // Match image size in about.avatar widget
    height: auto;
  }
}
