footer {
  margin: 3rem 0 0;
  background: #D0C6A9;
  position:absolute;
  left:0;
}

#profile{
  @keyframes slide-from-right {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .bio-text{
  animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation-delay: 100ms;
  }
}
