{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="view-list view-list-item">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
  ({{- $item.Date.Format "2006" -}})
  <a href="{{$item.RelPermalink}}">{{ $item.Title }}</a>

  <div class="article-metadata">
    {{ partial "page_metadata_authors" $item }}
  </div>
  
  {{ if $item.Params.publication_short }}
    {{- $item.Params.publication_short | markdownify -}}.
  {{ else if $item.Params.publication }}
    {{- $item.Params.publication | markdownify -}}.
  {{ end }}

  {{ if $has_attachments }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
